
body {
	margin: 0;
	padding: 0;
	font-family: Arial;
	background-image: url('img/png/background.png');
	background-repeat:  none-repeat;
	background-size: cover;
	height: 100vh;
	background-attachment: fixed;
	/*overflow: hidden;*/
}
.layer {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 100%;
    height: 100%;
}
.container {
	display: flex;
	width: 100%;
	height: 100%;
	position: absolute;

}
.left {
	width: 50%;
	height: 100%;
	float: left;
}
.logo {
	position: relative;
	top: 50%;
	left: 50%;
	width: 200px;

	transform: translate(-50%, -50%);
	color: rgb(255, 255, 255);

}	
.right {
	width: 50%;
	height: 100%;
	float: right;
}
.form_login {
	position: relative;
	top: 50%;
	left: 30%;
	transform: translate(-50%, -50%);
	width: 500px;
	height: 630px;
	background: rgb(255,255,255);
	border-radius: 5px;
	box-shadow: 0px 0px 10px 10px rgba(78, 78, 78,0.4);
}

.form_login h1 {
	text-align: left center;
	color: rgb(0,0,0);
	font-weight: bold;
	padding: 50px 0px 0px 70px ;

}
.form_login form {
	padding: 0 70px; /*top-bottom left-right*/
	box-sizing: border-box;
}
.form_login .signup_link a{
	color: #2691d9;
	text-decoration: none;
}
form .txt_field {
	position: relative;
	margin: 30px 0;
	border-bottom: 2px solid #adadad;

}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}
.txt_field input:hover ~ label,
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #2691d9;
}
.txt_field input:hover ~ span::before,
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}

input[type='submit'] {
	width: 20%;
	height: 30px;
	border-style: none;
	border-radius: 15px;
	background-color: #2691d9;
	font-size: 14px;
	font-weight: bold;
	color: #e9f4fb;
	margin-left: 80%;

}
input[type='submit']:hover {
	background-color: rgb(39, 162, 245);
}
input[type='submit']:focus {
	background-color: rgb(2, 90, 150);

}



section.signin_more {
	padding-top: 20px;
}
.or {
	width:100%; 
	text-align:center; 
	border-bottom: 1px solid rgb(220,220,220); 
	line-height:0.1em; 
	margin:10px 0 20px;
}
.or span{
	 background:#fff;
	 padding:10px 10px;
}

.signin_more a{
	display: inline-block;
	height: 45px;
	width: 100%;
	margin-top:8px;
	text-decoration: none;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	border-radius:25px;
}
a.btn_google {
	border: 2px solid rgb(220, 220, 220);
}

a.btn_facebook {
	background-color: #3B5998;
	color: rgb(255, 255, 255); 
}
a.btn_apple {
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
}



@media screen and (max-width: 1400px) {
  .left {
  	visibility:hidden; 
  }
  .form_login {
    left: 0%;

  }
}