
body {
	margin: 0;
	padding: 0;
	font-family: Arial;
	background-image: url('img/png/background.png');
	background-repeat:  none-repeat;
	background-size: cover;
	height: 100vh;
	background-attachment: fixed;
	/*overflow: hidden;*/
}
.layer {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 100%;
    height: 100%;
}
.container {
	display: flex;
	width: 100%;
	height: 100%;
	position: absolute;

}
.left {
	width: 50%;
	height: 100%;
	float: left;
}
.logo {
	position: relative;
	top: 50%;
	left: 55%;
	width: 300px;

	transform: translate(-50%, -50%);
	color: rgb(255, 255, 255);

}	
.logo img {
	width: 70%;
	height: 60px;
}


.right {
	width: 50%;
	height: 100%;
	float: right;
}
.form-login {
	position: relative;
	top: 50%;
	left: 28%;
	transform: translate(-50%, -50%);
	width: 500px;
	height: 630px;
	background: rgb(255,255,255);
	border-radius: 5px;
	box-shadow: 0px 0px 10px 10px rgba(78, 78, 78,0.4);
}

.form-login h1 {
	text-align: left center;
	color: rgb(0,0,0);
	font-weight: bold;
	padding: 50px 0px 0px 70px ;

}
.form-login form {
	padding: 0 70px; /*top-bottom left-right*/
	box-sizing: border-box;
}
.form-login .signup_link a{
	color: #2691d9;
	text-decoration: none;
}
form .txt_field {
	position: relative;
	margin: 30px 0;
	border-bottom: 2px solid #adadad;

}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}
/*.txt_field input:hover ~ label,*/
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #2691d9;
}
/*.txt_field input:hover ~ span::before,*/
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}

input[type='submit'] {
	width: 25%;
	height: 30px;
	border-style: none;
	border-radius: 15px;
	background-color: #2691d9;
	font-size: 14px;
	font-weight: bold;
	color: #e9f4fb;
	margin-left:75%;

}
input[type='submit']:hover {
	background-color: rgb(39, 162, 245);
}
input[type='submit']:focus {
	background-color: rgb(2, 90, 150);

}



section.signin-social {
	padding-top: 20px;
	width: 100%;
	height: 300px;
}
.line-or {
	width:100%; 
	text-align:center; 
	border-bottom: 1px solid rgb(220,220,220); 
	line-height:0.1em; 
	margin:10px 0 20px;
}
.line-or span{
	 background:#fff;
	 padding:10px 10px;
}


.signin-social a {
	display: flex;
	text-decoration: none;
	height: 50px;
	width: 100%;
	border-radius: 25px;
	font-size: 14px;
	font-weight: bold;
	margin-top: 10px;
}
.signin-social a img {
	padding-left: 80px;
	padding-right: 20px;
	width: 26px;
}
.signin-social a p {
	margin: auto;
	width: 100%;

}

.btn-google {
	color: rgb(0, 0, 0);
	border: 1px solid rgb(220, 220, 220) ;
}

.btn-google:hover {
	background-color: rgb(245, 245, 245);
}

.btn-facebook {
	background-color:#4267B2 ;
	color: #fff;
	border: 1px solid #4267B2 ;
}
.btn-apple {
	background-color:#000 ;
	color: #fff;
	border: 1px solid #000 ;
}


@media screen and (max-width: 1400px) {
  .left {
  	visibility:hidden; 
  }
  .form-login {
    left: 0%;
  }
}