<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% if title %}
		<title>QData - {{title}}</title>
	{% else %}
		<title>QData</title>
	{% endif %}

	<!-- Boostrap CSS -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">


	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename ='style.css') }}">
	
</head>

<body>
		{% block content %} 
		{% endblock %}

</body>
</html>