{% extends "layout.html" %}


{% block content %}
	<div class="layer"></div>
	<div class="container">
		<div class="left">
			<div class="logo">
				<img src="static/img/svg/Remoon.svg" alt="Logo">
				<p>Sign in or create an account</p>	
			</div>
		</div>
		<div class="right">
			<div class = 'form-login'>
				<h1>L O G I N</h1>
				<form method = 'post'>
					<div class ='signup_link'>
						Chưa có tài khoản? <a href="#">Đăng ký ngay</a>
					</div>	
					<br>				
					<div class = 'txt_field'>
						<input type="text" name="username" autocomplete="off" required>
						<span></span>
						<label>Username</label>
					</div>
					<div class = 'txt_field'>
						<input type="password" name="password" required>
						<span></span>
						<label>Password</label>
					</div>
					<!-- <div class ='pass'>Quên mật khẩu</div> -->
					<input type="submit" value="Login">

					<section  class="signin-social">
						<p class="line-or"><span>Or</span></p>
						<a href="#" role='button' class="btn-google">
							<img src="static/img/svg/google24x24.svg"></img>
							<p>Đăng nhập bằng google</p>
						</a>
						<a href="#" role='button' class="btn-facebook">
							<img src="static/img/svg/facebook24x24.svg"></img>
							<p>Đăng nhập bằng facebook</p>
						</a>
						<a href="#" role='button' class="btn-apple">
							<img src="static/img/svg/apple24x24.svg"></img>
							<p>Đăng nhập bằng google</p>
						</a>												
					</section> 
				</form>		
			</div>
		</div>
	</div>
{% endblock content %}